.container{
    width: 75%;
    height: 100%;
    padding: 10px;

}
.gold_gain{
    margin: 15px;
    padding: 20px;
    text-align: center;
    width: 18%;
    height: 13%;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
}
.gold{
    width: 100%;
    padding: 5px;
    margin: 10px;
}
.main{
    width: 100%;
}
.list{
    border: 1px solid black;
    overflow-y: scroll;
    height:100px;
    width: 95%;
    
}
.green{
    color:green;
    list-style: none;
}
.red{
    color:red;
    list-style: none;
}